{% extends 'story/main.html' %} {% block head-content %}
<style>
  .center {
    position: fixed;
    background-color: rgb(20, 13, 36);
    color: cornsilk;
    background: linear-gradient(
      to top,
      rgba(53, 152, 197, 0.9),
      rgba(20, 13, 36, 0.6)
    );
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<script type="text/javascript"> 
window.addEventListener('load', () => {
  var myJavaScriptVariable = "{{k}}"; 
  if(myJavaScriptVariable == 1){
    alert("duplicate record cannot be inserted");
  }
  if(myJavaScriptVariable == 2){
    alert("table is full");
  }
  if(myJavaScriptVariable == 0){
    alert("Record Successfully added!");
  }
});  
</script> 

{% endblock %} {% block main-content%}
<h1 align="center" style="color: cornsilk">ADD</h1>
<div class="center">
  <form action="" method="post">
    {% csrf_token %} {% for field in form %}
    <div ><br>{{ field.label_tag }}</b> {{ field }}</div>
    {% endfor %}
    
    <input type="submit" name="submit" />
  </form>
</div>
{% endblock %}
