{% extends 'story/main.html' %} {% block head-content %}
<style>
  .center {
    position: fixed;
    background-color: rgb(20, 13, 36);
    color: cornsilk;
    background: linear-gradient(
      to top,
      rgba(53, 152, 197, 0.9),
      rgba(20, 13, 36, 0.6)
    );
    height: 200px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<script type="text/javascript">
  window.addEventListener("load", () => {
    var myJavaScriptVariable = "{{searchWord}}";
    if (myJavaScriptVariable == -1) {
      alert("record not found");
    }
    if (myJavaScriptVariable == 1) {
      alert("record sucessfully deleted");
    }
  });
</script>

{% endblock %} {% block main-content%}
<h1 align="center" style="color: cornsilk">DELETE</h1>
<div class="center">
  <form action="" method="post" align="center">
    {% csrf_token %}
    <input
      id="search"
      name="search"
      type="text"
      class="query-search"
      placeholder="Enter key to delete.."
    />
    <input class="btn btn-primary" type="submit" value="delete" />
  </form>
</div>
{% endblock %}
