{% load static %}
<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: rgb(20, 13, 36)"
>
  <div class="container-fluid">
    <img
      src="{% static 'images/logo.png' %}"
      style="width: 7vw; min-width: 7px"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/home/">HOME</a>
        <a class="nav-link active" href="/display/">DISPLAY</a>
        <a class="nav-link active" href="/login/">ADMIN LOGIN</a>
      </div>
    </div>
  </div>
</nav>
